<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title>CI ConsultInfo</title>
		<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<!---inicialização---->

			<!---cabeçalho inicial---->
			<div class="header">
					<div class="top-header">
						<div class="wrap">
						<div class="top-header-left">
							<p>+55-(XXX)XXXXX-1111</p> <!---Numero Ficticio--->
						</div>
						<div class="right-left">
							<ul>
								<li class="login"><a href="{% url 'login' %}">Login</a></li>
								<li class="sign"><a href="{% url 'newUser' %}">inscrever-se</a></li>
							</ul>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
					<div class="main-header">
						<div class="wrap">
							<div class="logo">
								<a href="{% url 'indexHome' %}"><img src="{% static "images/logo.png" %}" title="logo" /></a>
							</div>
							<div class="social-links">
								<ul>
									<li><a href="#"><img src="{% static "images/facebook.png" %}" title="facebook" /></a></li>
									<li><a href="#"><img src="{% static "images/twitter.png" %}" title="twitter" /></a></li>
									<li><a href="#"><img src="{% static "images/feed.png" %}" title="Rss" /></a></li>
									<div class="clear"> </div>
								</ul>
							</div>
							<div class="clear"> </div>
						</div>
					</div>
					<div class="clear"> </div>
					<div class="top-nav">
						<div class="wrap">
							<ul>
								<li class="active"><a href="{% url 'indexHome' %}">Home</a></li>
								<li><a href="{% url 'indexSobre' %}">Sobre</a></li>
								<li><a href="{% url 'indexServicos' %}">Serviços</a></li>
								<li><a href="{% url 'indexNoticias' %}">Notícia</a></li>
								<li><a href="{% url 'indexContato' %}">Contato</a></li>
								<div class="clear"> </div>
							</ul>
						</div>
					</div>
			</div>
			<!---Cabeçalho final---->

			<!----conteúdo inicial----->
			<div class="content">
				<div class="wrap">
				<div class="about">
					<div class="about-topgrid1">
										<h3>Quem nós somos</h3>
										<img src="images/slider2.jpg" title="name">
										<h4>A CI Tecnology e uma empres que ajuda na Saúde.</h4>
										<p>a ConsultInfo ou CI e uma empresa que atua no ramo da Saude, queremos entrar e se estabilizar no mercado de Sistemas de Auxilio medico. </p>
				  </div>
					<div class="about-histore">
									<h3>Nossa história</h3>
									<div class="historey-lines">
										<ul>
											<li><span>2010 &nbsp;-</span></li>
											<li><p>.</p></li>
											<div class="clear"> </div>
										</ul>
									</div>
									<div class="historey-lines">
										<ul>
											<li><span>2010 &nbsp;-</span></li>
											<li><p>Digite aqui</p></li>
											<div class="clear"> </div>
										</ul>
									</div>
									<div class="historey-lines">
										<ul>
											<li><span>2010 &nbsp;-</span></li>
											<li><p>Mude aqui.</p></li>
											<div class="clear"> </div>
										</ul>
									</div>
									<div class="historey-lines">
										<ul>
											<li><span>2010 &nbsp;-</span></li>
											<li><p>Mude aqui.</p></li>
											<div class="clear"> </div>
										</ul>
									</div>
									<div class="historey-lines">
										<ul>
											<li><span>2010 &nbsp;-</span></li>
											<li><p>Mude aqui.</p></li>
											<div class="clear"> </div>
										</ul>
									</div>
									<div class="clear"> </div>
								</div>
					<div class="about-services">
									<h3>Nossos serviços</h3>
									<h4>Serviços que oferecemos.</h4>
									<p>Alguns dos serviços que oferecemos.</p>
									<ul>
										<li><a href="#">Exames clinicos</a></li>
										<li><a href="#">Exames laboratoriais</a></li>

										<div class="clear"> </div>
									</ul>
								</div>
								<div class="clear"> </div>
								<div class="ourteam">
									<h3>NOSSOS PROFISSIONAIS</h3>
									<div class="section group">
										<div class="grid_1_of_4 images_1_of_4">
											 <img src="images/d1.jpg">
											 <h3>Roberta </h3>
											 <p>Fale aqui sobre ela.<a href="#">[...]</a></p>
										</div>
										<div class="grid_1_of_4 images_1_of_4">
											 <img src="images/d2.jpg">
											 <h3>Pedro </h3>
											 <p>Fale quisobre ele.<a href="#">[...]</a></p>
										</div>
										<div class="grid_1_of_4 images_1_of_4">
											 <img src="images/d3.jpg">
											 <h3>Mariana </h3>
											 <p>Fale aqui sobre ela.<a href="#">[...]</a></p>
										</div>
										<div class="grid_1_of_4 images_1_of_4">
											 <img src="images/d4.jpg">
											 <h3>Dr. MM </h3>
											 <p>Fale qui sobre ele.<a href="#">[...]</a></p>
										</div>
									</div>
								</div>
			</div>
				<div class="clear"> </div>
				</div>
			<!----End-content----->
		</div>
		<!---Rodapé---->
		<!---início-rodapé---->
		<div class="footer">
			<div class="wrap">
				<div class="footer-grids">
					<div class="footer-grid">
						<h3>Nosso Perfil</h3>
						 <ul>
							<li><a href="#">MAIS INFORMAÇÕES</a></li>

						</ul>
					</div>
					<div class="footer-grid">
						<h3>Nosso Serviço</h3>
						 <ul>
							<li><a href="#">MAIS INFORMAÇÕES</a></li>
						</ul>
					</div>
					<div class="footer-grid">
						<h3>Nossas Ofertas</h3>
						 <ul>
							<li><a href="#">MAIS INFORMAÇÕES</a></li>

						</ul>
					</div>
					<div class="footer-grid">
						<h3>CONTATOS</h3>
						 <p>Para Mais informações</p>
						 <p>entre em contato com ConsultInfo .</p>
						 <p>FONE:</p>
						 <span>(XXX)XXXXX-1111</span>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="clear"> </div>



			</div>
		</div>
		<!--- Final-rodapé --->
	</body>
</html>
