<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		{% block title %}
                <title>CI ConsultInfo</title>
        {% endblock title %}

		{% block css %}
		<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css"  media="all" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
		<link rel="stylesheet" href="{% static "css/responsiveslides.css"  %}"/>
		{% endblock %}
		{% block javascript %}

		<script src='/static/js/responsiveslides.min.js'></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/static/js/responsiveslides.min.js"></script>
		<script type= "text/javascript" src="{% static "js/responsiveslides.min.js"  %}"></script>
		<script src="{% static "js/responsiveslides.js"  %}" type="text/javascript"></script>
		{% endblock %}

	<body>
		<!---inicialização---->

			<!---cabeçalho inicial---->
			<div class="header">
					<div class="top-header">
						<div class="wrap">
						<div class="top-header-left">
							<p>+55-(XXX)XXXXX-1111</p> <!---Numero Ficticio--->
						</div>
						<div class="right-left">
							<ul>
								<h3>ÁREA RESTRITA PACIENTE</h3>
							</ul>
						</div>
						<div class="clear"> </div>
					</div>
				</div>
					<div class="main-header">
						<div class="wrap">
							<div class="logo">
								<a href="{% url 'indexHome' %}"><img src="{% static "images/logo.png" %}" title="logo" /></a>
							</div>
							<div class="social-links">
								<ul>
									<li><a href="#"><img src="{% static "images/facebook.png" %}" title="facebook" /></a></li>
									<li><a href="#"><img src="{% static "images/twitter.png" %}" title="twitter" /></a></li>
									<li><a href="#"><img src="{% static "images/feed.png" %}" title="Rss" /></a></li>
									<div class="clear"> </div>
								</ul>
							</div>
							<div class="clear"> </div>
						</div>
					</div>
					<div class="clear"> </div>
					<div class="top-nav">
						<div class="wrap">
							<ul>
								<li class="active"><a href="{% url 'indexHome' %}">Home</a></li>
								<li><a href="{% url 'indexSobre' %}">Sobre</a></li>
								<li><a href="{% url 'indexServicos' %}">Serviços</a></li>
								<li><a href="{% url 'indexNoticias' %}">Notícia</a></li>
								<li><a href="{% url 'indexContato' %}">Contato</a></li>
								<div class="clear"> </div>
							</ul>
						</div>
					</div>
			</div>
			<!---Cabeçalho final---->

			<!----conteúdo inicial----->
			<div class="content">
				<div class="wrap">
					<!---Consultas----------------------------------------------------------------------->
						<div class="">
							<div class="col span_2_of_3">
								<h3 id="titulo">TODAS AS CONSULTAS: PACIENTE</h3>
								<br>
								<p>
									<h3> <a href="{% url 'restricted_area_paciente' %}">Voltar</a></h3>
								</p>

								<div class="">
									{% for consulta in consultas %}
											<div class="">
												<div class="">
														<a href="#"><img class="" src="" alt=""></a>
															<div class="">
																<h4 class="">
																	<p class="">
																		MEDICO: {{consulta.medico}}
																	</p>
																	</h4>
																	<p class="">
																		PACIENTE: {{consulta.paciente}}
																	</p>
																	<p class="">
																		DATA: {{consulta.data}}
																	</p>
																	<p class="">
																		HORA: {{consulta.hora}}
																	</p>
																	<p class="">
																		CODIGO: {{consulta.codigo}}
																	</p>


															</div>
															<div class="">
																<small class=""></small>
															</div>
													 </div>
											 </div>
												{% empty %}
													<h1>SEM CONSULTAS CADASTRADAS!</h1>
											{% endfor %}
									</div>
							</div>


					</div>
					<!---------------------------------------------------------------------------->
				<div class="clear"> </div>
				</div>
			<!----End-content----->
		</div>
		<!---Rodapé---->
		<!---início-rodapé---->
		<div class="footer">
			<div class="wrap">
				<div class="footer-grids">
					<div class="footer-grid">
						<h3>Nosso Perfil</h3>
						 <ul>
							<li><a href="#">MAIS INFORMAÇÕES</a></li>

						</ul>
					</div>
					<div class="footer-grid">
						<h3>Nosso Serviço</h3>
						 <ul>
							<li><a href="#">MAIS INFORMAÇÕES</a></li>
						</ul>
					</div>
					<div class="footer-grid">
						<h3>OUR FLEET</h3>
						 <ul>
							<li><a href="#">MAIS INFORMAÇÕES</a></li>

						</ul>
					</div>
					<div class="footer-grid">
						<h3>CONTATOS</h3>
						 <p>Para Mais informações</p>
						 <p>entre em contato com ConsultInfo .</p>
						 <p>FONE:</p>
						 <span>(XXX)XXXXX-1111</span>
					</div>
					<div class="clear"> </div>
				</div>
				<div class="clear"> </div>



			</div>
		</div>
		<!--- Final-rodapé --->
	</body>
</html>
